{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
	"browser": true,
	"node": true
  },
  "globals": {
    "document":1,
    "window":1,
    "page_info":1,
    "ArteFolha":1,
    "$":1,
    "jquery":1
  },
  "settings": {
    "html/indent": "tab"
  },
  "plugins": [
    "jquery",
    "html"
  ],
  "rules": {
    "padded-blocks":0,
    "indent":["error", "tab", { "SwitchCase": 1 }],
    "no-tabs":0,
    "no-plusplus" : ["error", {"allowForLoopAfterthoughts": true}],
    "no-debugger": 1
  }
}
