p
	max-width:600px
	padding:px
	width:100%
h1
	font-family: 'Folha Grafico'
	font-weight:800
.oppening
	display:flex
	align-items: center
	justify-content:center
	height: 100vh
.soundy
	display: inline
	padding: 0 6px 0 5px
	line-height: 1.7em
	margin: 0 5px 0 0
	opacity:0.8
	cursor:pointer
	// transition:0.3s
	&:hover
		opacity:1
		transition:0.3s
	&:before
		content: ''
		font-size: 0.9em
		position: relative
		top:.12em
		border: .5em solid transparent
		border-left: .8em solid transparent
		border-left-color: #000
		opacity:0.6
		display:inline-block
		left:0.2em
		top:0.1em
		&:hover
			opacity:1
